<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.spbstu.lyubchenkova.checkers">

    <application
        android:name="ru.spbstu.lyubchenkova.checkers.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="ru.sbpstu.lybchenkova.ui.ScoreActivity"
            android:label="@string/action_score"
            android:parentActivityName="ru.spbstu.lyubchenkova.checkers.ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.spbstu.lyubchenkova.checkers.ui.MainActivity" />
        </activity>
        <activity
            android:name="ru.spbstu.lyubchenkova.checkers.ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.spbstu.lyubchenkova.checkers.ui.GameActivity"
            android:label="@string/title_activity_game"
            android:parentActivityName="ru.spbstu.lyubchenkova.checkers.ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.spbstu.lyubchenkova.checkers.ui.MainActivity" />
        </activity>
        <activity
            android:name="ru.spbstu.lyubchenkova.checkers.ui.AboutActivity"
            android:label="@string/about"
            android:parentActivityName="ru.spbstu.lyubchenkova.checkers.ui.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.spbstu.lyubchenkova.checkers.ui.MainActivity" />
        </activity>
        <activity
            android:name="ru.spbstu.lyubchenkova.checkers.ui.HelpActivity"
            android:label="Help"
            android:parentActivityName="ru.spbstu.lyubchenkova.checkers.ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.spbstu.lyubchenkova.checkers.ui.MainActivity" />
        </activity>
    </application>
</manifest>
